{
	"plugins": [
		[ "@babel/plugin-proposal-decorators", { "legacy": true } ],
		[ "@babel/plugin-proposal-class-properties", { loose: false } ]
	],
	"presets": [
		"@babel/preset-react",
		"@babel/preset-flow",
		[ "@babel/preset-env", {
			"useBuiltIns": "entry"
		} ]
	]
}
